CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=247
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=y
CONFIG_BT_NIMBLE_LL_CFG_FEAT_LE_2M_PHY=y
# CONFIG_BT_NIMBLE_LL_CFG_FEAT_LE_CODED_PHY is not set
CONFIG_BT_CTRL_BLE_LLCP_PHY_UPDATE=y
